.container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 10px;
    justify-content: space-between;
}

.day {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 15px;
    margin-left: 5px;
    width: 5px;
}

.description {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    width: 50%;
}

.description > .category {
    font-weight: bold;
}

.value {
    font-size: 1.2rem;
    font-weight: bold;
}

.actions {
    margin-left: 15px;
    display: flex;
    align-items: center;
}